@font-family {
  font-weight: 400;
  font-family: 'PT Sans Narrow';
  src: url("../fonts/ptsansnarrow.woff2") format('woff2'), url("../fonts/ptsansnarrow.woff") format('woff');
}
@font-family {
  font-weight: 700;
  font-family: 'PT Sans Narrow';
  src: url("../fonts/ptsansnarrowbold.woff2") format('woff2'), url("../fonts/ptsansnarrowbold.woff") format('woff');
}
body {
  background-color: #f8f5f2;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  body {
    background-color: #353535;
  }
  .body-inner {
    background-color: #f8f5f2;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
.mobile-only {
  display: none;
}
/*цвета фонов*/
/*цвета меню */
/*цвет рамок*/
/*размеры вьюпорта*/
/*ретина*/
/*отступы*/
/*шрифт*/
/* @media (min-width: @tablet-width){
	.mobile-element{
		display: none;
		}
}	*/
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
}
.page-header__logo {
  position: relative;
  z-index: 0;
  height: 85px;
  text-align: center;
}
.page-header__logo-image {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }
  .body-inner .page-header__logo {
    height: 230px;
  }
  .page-header__logo-image {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__logo {
    background-image: url("../img/bg-header@2x.jpg");
    background-size: 1338px auto;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .body-inner .page-header__logo {
    height: 270px;
  }
  .page-header__logo-image {
    margin-top: 57px;
  }
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #826550;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 60px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
.site-list {
  list-style: none;
}
.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  color: #ffffff;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.site-list a[href]:hover {
  background-color: #755a46;
}
.site-list a[href]:active {
  background-color: #6a4d38;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
  .site-list__item--active {
    box-shadow: 0 3px 0 0 #826550;
  }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .site-list__item a:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .site-list__item a:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-list__login {
  position: relative;
  display: block;
  padding-left: 40px;
  padding-top: 14px;
  padding-bottom: 15px;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
  cursor: pointer;
}
.user-list__login:hover {
  background-color: #755a46;
}
.user-list__login:active {
  background-color: #6a4d38;
}
.user-list__login-icon {
  position: absolute;
  left: 13px;
  top: 16px;
  width: 13px;
  height: 16px;
  opacity: 0.3;
}
.user-list__login-icon polygon {
  fill: #ffffff;
}
@media (max-width: 767px) {
  .user-list a {
    background-color: #6a4d38;
    border: none;
  }
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
    background-color: #000000;
    border: none;
  }
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
  .user-list__login:hover {
    background-color: #000000;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #826550;
  }
  .user-list__login:active {
    opacity: 0.3;
  }
  .user-list__login:active .user-list__login-icon polygon {
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px;
  }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list-login__icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list-login__icon polygon {
    fill: #000000;
  }
  .user-list__login:active .user-list-login__icon {
    opacity: 0.1;
  }
}
.stats {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
}
.stats__header {
  padding: 30px 40px 25px 40px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
}
.stats__list {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}
.stats__item:nth-child(1) {
  background-color: #404040;
}
.stats__item:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__item:nth-child(3) {
  background-color: #353535;
}
.stats__item:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -185px;
    background-color: red;
  }
  .stats__header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -13px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__intro {
    width: 210px;
    margin-top: 5px;
    padding-right: 27px;
    text-align: left;
  }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    display: block;
    width: 240px;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
}
.advantages {
  position: relative;
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #f8f5f2;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
.advantages__item {
  margin: 0;
  padding-top: 170px;
  padding-bottom: 80px;
  background-color: #242424;
  background-repeat: no-repeat;
  background-position: center 48px;
}
.advantages__item--fast {
  background-image: url('../img/advantage-1.svg');
}
.advantages__item--cool {
  background-image: url('../img/advantage-2.svg');
}
.advantages__item--price {
  background-image: url('../img/advantage-3.svg');
}
.advantages__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__description {
  display: block;
  width: 235px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}
.advantages__wrapper::before,
.advantages__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0px;
  height: 0px;
  border-bottom: 35px solid #f8f5f2;
  z-index: 3;
}
.advantages__wrapper::before {
  border-right: 160px solid transparent;
  left: 0;
}
.advantages__wrapper::after {
  border-left: 160px solid transparent;
  right: 0;
}
.advantages__toggles {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  bottom: 25px;
}
@media (min-width: 768px) {
  .advantages {
    width: auto;
  }
  .advantages__wrapper {
    width: 640px;
  }
  .advantages__item {
    padding-top: 45px;
    padding-left: 160px;
    padding-right: 32px;
    padding-bottom: 40px;
    background-color: #353535;
    background-position: 30px 45px;
    border-bottom: 1px solid #4a4a4a;
  }
  .advantages__item:last-child {
    padding-bottom: 70px;
  }
  .advantages__title {
    margin: 0;
    text-align: left;
  }
  .advantages__description {
    width: auto;
    margin: 0;
    text-align: left;
  }
  .advantages__wrapper::before,
  .advantages__wrapper::after {
    border-bottom: 42px solid #f8f5f2;
  }
  .advantages__wrapper::before {
    border-right: 384px solid transparent;
    left: 0;
  }
  .advantages__wrapper::after {
    border-left: 384px solid transparent;
    right: 0;
  }
  .advantages .advantages__toggles {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: auto;
    background-color: #353535;
  }
  .advantages__wrapper {
    width: 960px;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
  }
  .advantages__item {
    width: 310px;
    padding: 0;
    margin: 0;
    padding-top: 170px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center 48px;
  }
  .advantages__title {
    margin: 0;
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .advantages__description {
    display: block;
    width: 235px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
  }
  .advantages__wrapper::before,
  .advantages__wrapper::after {
    display: none;
  }
}
.slider-list {
  list-style: none;
}
.slider__toggles {
  display: flex;
  justify-content: space-between;
  width: 78px;
}
.slider__toggle {
  position: relative;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider__toggle::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  margin-right: 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #ffffff;
  border-radius: 10%;
  font-size: 0;
  background-color: transparent;
}
.slider__toggle--current {
  cursor: default;
}
.slider__toggle--current::before {
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .slider__item {
    display: none;
  }
  .slider__item--current {
    display: block;
  }
  .slider--nojs .slider__item {
    display: block;
  }
}
.news {
  margin: 0;
  padding-bottom: 28px;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;
}
.news__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.news__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.news__list {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  list-style: none;
}
.news__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5ddd5;
}
.news__item--desktop {
  display: none;
}
.news__item:last-child {
  border: none;
}
.news__date {
  position: relative;
  display: block;
  width: 50px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
.news__day {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  line-height: 25px;
}
.news__date::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  border: 25px solid transparent;
  border-top: 10px solid #000000;
}
.news__text {
  margin: 0;
  width: 210px;
}
.news__button {
  width: 280px;
  padding-top: 14px;
  padding-bottom: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .news {
    padding-bottom: 25px;
  }
  .news__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    width: 640px;
  }
  .news__list {
    display: flex;
    justify-content: space-between;
    order: 3;
    width: 100%;
  }
  .news__item {
    width: 280px;
    border: none;
  }
  .news__button {
    order: 2;
    width: 160px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .news {
    padding-bottom: 40px;
  }
  .news__wrapper {
    width: 960px;
  }
  .news__item--desktop {
    display: flex;
  }
}
.button {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #e5ddd5;
}
.reviews {
  position: relative;
  width: 100%;
  padding-top: 30px;
}
.reviews__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
}
.reviews__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.reviews__list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: auto;
}
.reviews__write {
  display: none;
}
.reviews__author-picture {
  margin: 0;
  margin-top: 10px;
}
.reviews__author-name {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  font-weight: 700;
  font-style: normal;
}
.reviews__item {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.reviews__wrap {
  padding: 0;
  width: 210px;
}
.reviews__wrapper::before,
.reviews__wrapper::after {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 0px;
  height: 0px;
  border-top: 35px solid #f8f5f2;
  z-index: 3;
}
.reviews__prev,
.reviews__next {
  display: none;
}
.reviews__toggles {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  bottom: 20px;
}
.reviews__toggles .slider__toggle::before {
  border-color: #000000;
}
.reviews__toggles .slider__toggle--current::before {
  background-color: #000000;
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 45px;
  }
  .reviews__wrapper {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reviews__list {
    padding-right: 50px;
    padding-left: 50px;
  }
  .reviews__wrap {
    width: 400px;
  }
  .reviews__title {
    font-size: 40px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .reviews__write {
    display: block;
    width: 160px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-bottom: 20px;
    text-align: center;
  }
  .reviews__item {
    padding-top: 35px;
    padding-left: 30px;
  }
  .reviews__author-picture {
    padding: 0;
    margin: 0;
    margin-right: 30px;
  }
  .reviews__author-image {
    border-radius: 50%;
  }
  .reviews__prev,
  .reviews__next {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 160px;
    box-sizing: border-box;
    font-size: 0;
    background-color: transparent;
    border: 1px solid #e5ddd5;
    cursor: pointer;
  }
  .reviews__prev {
    left: 0;
    background-image: url("../img/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  .reviews__next {
    right: 0;
    background-image: url("../img/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media (min-width: 1200px) {
  .reviews {
    background-color: #f8f5f2;
  }
  .reviews__wrapper {
    width: 960px;
    padding-bottom: 98px;
  }
  .reviews__wrap {
    padding: 0;
    padding-bottom: 0;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 0px;
    width: 420px;
  }
  .reviews__author-picture {
    width: 249px;
    height: 160px;
    margin: 0;
    margin-right: 70px;
  }
  .reviews__author-image {
    border-radius: 0;
    margin: 0;
  }
  .reviews__item {
    box-sizing: border-box;
    padding: 0;
    padding-right: 79px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #e5ddd5;
  }
  .reviews__toggles {
    bottom: 45px;
  }
}
.page-footer {
  width: auto;
  background-color: #292929;
  border: 1px solid #353535;
  color: #ffffff;
}
.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}
.page-footer__contacts {
  text-align: center;
  padding: 33px 20px 23px 20px;
  margin-bottom: 0px;
}
.page-footer__social {
  margin-bottom: 30px;
}
.page-footer__copyright {
  margin: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .page-footer__contacts {
    padding: 0;
    margin-bottom: 45px;
  }
  .page-footer__copyright {
    order: 2;
  }
  .page-footer__social {
    order: 3;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    justify-content: stretch;
    width: 960px;
    padding-bottom: 10px;
  }
  .page-footer__social {
    order: 2;
    margin-left: 60px;
  }
  .page-footer__copyright {
    order: 3;
    margin-left: 235px;
  }
}
.contacts__title {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.contacts__phone {
  display: block;
  padding: 13px 75px 14px 75px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #3e3e3e;
}
.contacts__phone:hover {
  border-color: #515151;
}
.contacts__phone:active {
  opacity: 0.3;
  border: none;
}
.contacts__phone--mobile {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    width: 340px;
    text-align: left;
  }
  .contacts__title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .contacts__phone {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
  }
}
@media (min-width: 1200px) {
  .contacts__phone--mobile {
    display: inline;
  }
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social__title {
  display: none;
}
.social__item {
  border: 1px solid #3e3e3e;
  border-left: none;
}
.social__item:first-child {
  border-left: 1px solid #3e3e3e;
}
.social__item:hover {
  border-color: #515151;
}
.social__item:active {
  border: none;
  opacity: 0.3;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 100px;
  font-size: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .social__link {
    width: 211px;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .social__title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
  }
  .social__list {
    justify-content: space-between;
    width: 162px;
  }
  .social__item {
    border: 1px solid #3e3e3e;
  }
  .social__link {
    width: 48px;
    height: 48px;
  }
  .social__link--vk .social__image {
    width: 15px;
    height: 17px;
  }
  .social__link--fb .social__image {
    width: 10px;
    height: 21px;
  }
  .social__link--inst .social__image {
    width: 19px;
    height: 19px;
  }
}
.copyright {
  color: #ffffff;
}
.copyright__text {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.copyright__link {
  display: block;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 280px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #3e3e3e;
  cursor: default;
}
@media (min-width: 768px) {
  .copyright__link {
    width: 160px;
  }
}
.works {
  width: 280px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 30px;
  background-color: #f8f5f2;
}
.works__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.works__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.works__item {
  position: relative;
  width: auto;
  padding: 0;
  margin-bottom: 20px;
  border: 1px solid #e5ddd5;
  border-top: none;
}
.works__photo {
  margin-bottom: 20px;
}
.works__name {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: 700;
}
.works__text {
  padding-left: 22px;
  padding-right: 22px;
}
.works__include {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.works__include li {
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  margin-right: 35px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}
.works__include li:nth-child(2) {
  margin-right: 0;
}
.works__haircut {
  padding-left: 35px;
  background-image: url('../img/scissors-icon.svg');
  background-position: 0 3px;
}
.works__shaving {
  padding-left: 45px;
  background-image: url('../img/beard-icon.svg');
}
.works__mustache {
  margin-left: -10px;
  padding-left: 58px;
  background-image: url('../img/mustache-icon.svg');
  background-position: 0 7px;
}
.works__label {
  position: absolute;
  left: 0;
  top: 400px;
  box-sizing: border-box;
  width: 166px;
  height: 50px;
  padding-top: 10px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #826550;
}
.works__label::before,
.works__label::after {
  content: "";
  position: absolute;
  right: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
}
.works__label::before {
  top: 0;
  border-top: 23px solid #826550;
}
.works__label::after {
  bottom: 0;
  border-bottom: 23px solid #826550;
}
.works__button {
  display: none;
}
@media (min-width: 768px) {
  .works {
    width: 640px;
    padding-top: 64px;
  }
  .works__top-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .works__title {
    height: 44px;
    padding-top: 5px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .works__button {
    display: block;
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    padding-top: 12px;
    margin-top: 0;
    text-align: center;
  }
  .works__item {
    display: flex;
    position: relative;
    min-height: 293px;
    border: 1px solid #e5ddd5;
  }
  .works__text {
    width: 369px;
    padding-top: 49px;
    padding-left: 49px;
  }
  .works__photo {
    margin: 0;
    vertical-align: bottom;
  }
  .works__review {
    width: 270px;
  }
  .works__include {
    position: absolute;
    bottom: 40px;
    width: 230px;
  }
  .works__label {
    top: 35px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .works {
    width: 960px;
  }
  .works__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .works__button {
    margin-left: 570px;
  }
  .works__item {
    display: block;
    width: 294px;
    min-height: 540px;
  }
  .works__text {
    padding-top: 30px;
    padding-left: 38px;
    width: auto;
  }
  .works__include {
    position: absolute;
    bottom: 20px;
  }
  .works__include li:nth-child(2) {
    margin-right: 30px;
  }
  .works__item--main {
    display: flex;
    width: 960px;
    min-height: 480px;
    margin-bottom: 40px;
  }
  .works__item--main .works__text {
    display: block;
    width: 479px;
    padding-top: 128px;
  }
  .works__item--main .works__include {
    position: absolute;
    width: 360px;
  }
  .works__label {
    top: 25px;
  }
}
.price {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #353535;
}
.price__wrapper {
  width: 280px;
  padding: 0;
  margin: 0 auto;
}
.price__list {
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  color: #ffffff;
  border-collapse: collapse;
}
.price__title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.price__number {
  display: none;
}
.price__field {
  padding-left: 0;
  font-weight: 700;
}
.price__value {
  padding-right: 0;
  text-align: right;
  vertical-align: top;
}
.price__add {
  font-weight: 400;
}
.price__discount {
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 18px 48px 17px 112px;
  color: #ffffff;
  background-color: transparent;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  border: 1px solid #4a4a4a;
}
@media (min-width: 768px) {
  .price__wrapper {
    width: 640px;
    padding-bottom: 35px;
  }
  .price__list {
    width: 640px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #4a4a4a;
  }
  .price__title {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 55px;
    text-align: left;
  }
  .price__field,
  .price__value {
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 20px;
    text-align: left;
    border: 1px solid #4a4a4a;
  }
  .price__number {
    display: table-cell;
    width: 70px;
    padding-top: 13px;
    padding-bottom: 14px;
    text-align: center;
    color: #7b7b7b;
    border: 1px solid #4a4a4a;
  }
  .price__value {
    width: 160px;
  }
  .price__add {
    margin-left: 55px;
    padding: 17px 20px 18px 20px;
    border-left: 1px solid #4a4a4a;
  }
  .price__field br {
    display: none;
  }
  .price__discount {
    padding-left: 185px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    line-height: 27px;
    font-weight: 700;
    text-transform: uppercase;
    background-image: url("../img/clock2.svg");
    background-position: 25px center;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-top: 70px;
  }
  .price__wrapper {
    width: 960px;
  }
  .price__blocks {
    display: flex;
    justify-content: space-between;
  }
  .price__list {
    margin-left: 0;
  }
  .price__value {
    width: 150px;
  }
  .price__discount {
    margin-right: 0;
    width: 269px;
    height: 276px;
    padding: 0;
    padding-top: 205px;
    background-image: url("../img/clock3.svg");
    background-position: center 35px;
  }
  .price__text {
    display: block;
    width: 125px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
  }
}
