/*цвета фонов*/
@dark1: #242424;
@dark2: #292929;
@dark3: #353535;
@dark4: #404040;

/*цвета меню */
@menu1: #6a4d38;
@menu2: #826550;
@menu-border-bottom: #71543f;
@menu-border-top: #886e5b; 
@menu-hover: #755a46;
@menu-active: #6a4d38;
@menu-button: #624530;

/*цвет рамок*/
@border: #e5ddd5;

/*размеры вьюпорта*/
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

/*ретина*/
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

/*отступы*/
.indents(0){
	margin: 0;
	padding: 0;
}
/*шрифт*/
.font(@value1, @value2){
	font-size: @value1;
	line-height: @value2;
}

.size(@value1, @value2){
	width: @value1;
	height: @value2;
}

/* @media (min-width: @tablet-width){
	.mobile-element{
		display: none;
		}
}	*/