@menu-hover: #755a46;
@menu-active: #6a4d38;

.site-list{
	
	list-style: none;
	

}

.site-list a {
	display: block;
	
	padding:12px 21px;
	padding-bottom: 13px;
	
	color: #ffffff;
	text-decoration: none;
	
	background-color: @menu2;
	border-top: 1px solid @menu-border-top;
	border-bottom: 1px solid @menu-border-bottom;
}

.site-list a[href]{
	&:hover{
		background-color: @menu-hover;
	}

	&:active{
		background-color: @menu-active;
	}
}

@media (min-width: @tablet-width){
	.site-list{
		width: 570px;
		display :flex;
	}
}

@media (min-width: @desktop-width){
	.site-list{
		width: 780px;
	}
}