

.slider-list{
	list-style: none;
}

.slider__toggles{
	display: flex;
	justify-content: space-between;
	width: 78px;
}

.slider__toggle{
	position: relative;
	
	font-size: 0;
	
	background-color: transparent;
	border: none;
	
	cursor: pointer;
}

.slider__toggle::before{
	content: "";
	
	position: absolute;
	
	transform: rotate(45deg);
	
	margin-right: 5px;
	width: 5px;
	height: 5px;
	
	border: 2px solid #ffffff;
	border-radius: 10%;
	
	font-size: 0;
	
	background-color: transparent;
}

.slider__toggle--current{
	cursor: default;
}

.slider__toggle--current::before{
	background-color: #ffffff;
}

@media (max-width: @mobile-width-only){
	.slider__item{
		display: none;
	}

	.slider__item--current{
		display: block;
	}

	.slider--nojs .slider__item{
		display: block;
	}
}

