.social__list{
	.indents(0);
	list-style: none;
}

.social__title{
	display: none;
}

.social__link{
	display: block;
	
	padding: 40px;
	.size(30px, 30px);
	border: 1px solid @border;
	font-size: 0;
}

