.user-list{
	.indents(0);
	list-style: none;
}

.user-list__item{
	display: block;
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 15px;
	
	background-color: @menu2;
	border-top: 1px solid @menu-border-top;
	border-bottom: 1px solid @menu-border-bottom;
	cursor: pointer;
}

.user-list__item a{
	color: #ffffff;
	text-transform: none;
	text-decoration: none;
}

.user-list__item:hover{
	background-color: @menu-hover;
}

.user-list__item:active{
	background-color: @menu-active;
}

.user-list__icon{
	margin-right: 13px;
}
